.NoOrders {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .NoOrders p {
    font-family: Montserrat, sans-serif;
    font-size: 1.7em;
    color: black;
    text-align: center; }
  .NoOrders button {
    color: white;
    background-color: #1AB5FF;
    border: 2px solid transparent;
    font-family: Montserrat, sans-serif, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 2px;
    padding: 20px 32px;
    border-radius: 500px;
    transition: all 0.2s ease;
    animation-name: pulse-grow;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
    .NoOrders button:hover {
      color: white;
      background-color: #1aa5ee;
      transition: all 0.3s ease; }

@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

.OrderList {
  width: 100%;
  margin-top: 70px; }
  .OrderList h1 {
    margin-left: 50px;
    margin-bottom: 20px;
    color: #b0b0b0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase; }
  .OrderList .OrderItem {
    padding-left: 50px;
    background-color: white;
    margin-bottom: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .OrderList .OrderItem .orderItemProp {
      flex-basis: 20%;
      font-family: "Open Sans", sans-serif;
      font-size: 1em; }
    .OrderList .OrderItem .orderPrice {
      color: #1AB5FF; }
    .OrderList .OrderItem .orderDate, .OrderList .OrderItem .orderStatus {
      color: #b0b0b0; }
    .OrderList .OrderItem .orderType {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .OrderList .OrderItem .orderType img {
        width: 50px;
        margin-right: 20px; }
