@import "../common/Common";

.Activity {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-family: $font-primary;
    font-size: 1.7em;
    color: $color-black;
    text-align: center;
  }

  button {
    @include rounded-button($color-primary, $color-white, transparent, $color-primary-dark, $color-white);
    animation-name: pulse-grow;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes pulse-grow {
    to {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}