@import "../common/Common.scss";

.OrderList {
  width: 100%;
  margin-top: 70px;

  .OrderListHeader {
    margin-bottom: 2px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .orderListHeader {
      flex-basis: 20%;
      color: $color-gray-light;
      font-family: $font-primary;
      font-weight: 500;
      font-size: 1em;
      text-transform: uppercase;
    }

    .orderTypeHeader{
      padding-left: 50px;
    }
  }

  .OrderItem {
    padding-left: 50px;
    background-color: $color-white;
    margin-bottom: 2px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .orderItemProp {
      flex-basis: 20%;
      font-family: $font-secondary;
      font-size: 1em;
    }

    .orderPrice {
      color: $color-primary;
    }

    .orderDate, .orderStatus {
      color: $color-gray-light;
    }

    .orderType {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 50px;
        margin-right: 20px;
      }
    }
  }
}