@import "../common/Common.scss";

.OrderList {
  width: 100%;
  margin-top: 70px;

  @media only screen and (max-width: 580px) {
    margin-top: 0;
  }

  .OrderListHeader {
    margin-bottom: 2px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 580px) {
      display: none;
    }

    .orderListHeader {
      flex-basis: 20%;
      color: $color-gray-light;
      font-family: $font-primary;
      font-weight: 500;
      font-size: 1em;
      text-transform: uppercase;
    }

    .orderTypeHeader{
      padding-left: 50px;
    }
  }

  .OrderItem {
    padding-left: 50px;
    background-color: $color-white;
    margin-bottom: 2px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 580px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding-left: 0;
    }

    .orderItemProp {
      flex-basis: 20%;
      font-family: $font-primary;
      font-size: 1em;
      margin-top: 7px;
      @media only screen and (max-width: 580px) {
        margin-top: 0;
        margin-bottom: 8px;
      }
    }

    .orderDate, .orderStatus {
      color: $color-gray-light;
      @media only screen and (max-width: 580px) {
        display: none;
      }
    }

    .receiptButton {
      border: 2px solid $color-primary;
      background-color: $color-white;
      border-radius: 6px;
      padding: 10px 30px;
      outline: none;
      font-size: 1em;
      font-family: $font-primary;

      &:hover {
        color: $color-white;
        background-color: $color-primary;
        transition: all 0.3s ease;
      }
    }

    .orderType {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 50px;
        margin-right: 20px;
      }
    }
  }
}