.OrderList {
  width: 100%;
  margin-top: 70px; }
  .OrderList h1 {
    margin-left: 50px;
    margin-bottom: 20px;
    color: #b0b0b0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase; }
  .OrderList .OrderItem {
    padding-left: 50px;
    background-color: white;
    margin-bottom: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .OrderList .OrderItem .orderItemProp {
      flex-basis: 20%;
      font-family: "Open Sans", sans-serif;
      font-size: 1em; }
    .OrderList .OrderItem .orderPrice {
      color: #1AB5FF; }
    .OrderList .OrderItem .orderDate, .OrderList .OrderItem .orderStatus {
      color: #b0b0b0; }
    .OrderList .OrderItem .orderType {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .OrderList .OrderItem .orderType img {
        width: 50px;
        margin-right: 20px; }
