@import '../common/Common.scss';

.SignUp {
  width: 100%;
  display: flex;
  background-color: $color-white;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 300px;
  }
}