.OrderTypeSelector {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #b0b0b0;
  font-family: Montserrat, sans-serif; }
  .OrderTypeSelector i {
    margin-top: 18px;
    color: #b0b0b0;
    font-size: 1.7em; }
  .OrderTypeSelector .selected {
    color: #1AB5FF; }
    .OrderTypeSelector .selected i {
      color: #1AB5FF; }
    .OrderTypeSelector .selected .svg rect, .OrderTypeSelector .selected .svg path, .OrderTypeSelector .selected .svg circle {
      stroke: #1AB5FF; }
  .OrderTypeSelector h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase; }
  .OrderTypeSelector .DryClean {
    border-right: 1px solid #e2e2e2; }
  .OrderTypeSelector .DryClean, .OrderTypeSelector .WashAndFold {
    padding: 0 50px;
    margin-bottom: 50px; }
    .OrderTypeSelector .DryClean img, .OrderTypeSelector .WashAndFold img {
      min-height: 150px;
      margin-bottom: 5px; }
