@import "../common/Common.scss";

.Order {
  text-align: center;

  .orderButton {
    @include rounded-button($color-primary, $color-white, transparent, $color-primary-dark, $color-white);
    margin-top: 40px;
  }

  .closeButton {
    text-decoration: none;
    color: $color-gray-dark;
    position: fixed;
    top:20px;
    right: 40px;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 2em;
  }

  .DateSelectorWrapper {
    .PickupDate, .DropOffDate {
      margin: 12px 0;
      padding: 12px 200px 12px 80px;
      border: 2px solid $color-gray-extra-light;
      font-size: 0.9em;
      font-family: $font-primary;
      color: $color-gray-dark;
      border-radius: 5px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .DateSelector {
      display: flex;
      margin-left: 12%;

      i {
        position: fixed;
        margin-top: 20px;
        margin-left: 20px;
        z-index: 0;
        color: $color-primary;
        font-weight: 500;
        font-size: 1.2em;
        border-right: 1px solid $color-gray-extra-light;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 20px;
      }
    }
  }
  .OrderTypeSelector {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: $color-gray-light;
    font-family: $font-primary;

    i {
      margin-top: 18px;
      color: $color-gray-light;
      font-size: 1.7em;
    }

    .selected {
      color: $color-primary;
      i {
        color: $color-primary;
      }

      .svg rect, .svg path, .svg circle {
        stroke: $color-primary;
      }

    }

    h1 {
      font-size: 1.5em;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
    }

    .DryClean {
      border-right: 1px solid $color-gray-extra-light ;
    }

    .DryClean, .WashAndFold {
      padding: 0 50px;
      margin-bottom: 50px;

      img {
        min-height: 220px;
        margin-bottom: 5px;
      }
    }
  }
}