.Order {
  text-align: center; }
  .Order .orderButton {
    color: white;
    background-color: #1AB5FF;
    border: 2px solid transparent;
    font-family: Montserrat, sans-serif, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 2px;
    padding: 20px 32px;
    border-radius: 500px;
    transition: all 0.2s ease;
    margin-top: 40px; }
    .Order .orderButton:hover {
      color: white;
      background-color: #1aa5ee;
      transition: all 0.3s ease; }
  .Order .closeButton {
    text-decoration: none;
    color: #707070;
    position: fixed;
    top: 20px;
    right: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 2em; }
