@import "../common/Common.scss";

.OrderTypeSelector {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: $color-gray-light;
  font-family: $font-primary;

  @media only screen and (max-width: 580px) {
    flex-direction: column;
    margin-top: 50px;
  }

  i {
    margin-top: 18px;
    color: $color-gray-light;
    font-size: 1.7em;
  }

  .selected {
    color: $color-primary;
    i {
      color: $color-primary;
    }

    .svg rect, .svg path, .svg circle {
      stroke: $color-primary;
    }

  }

  h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
  }

  .DryClean {
    border-right: 1px solid $color-gray-extra-light ;
    @media only screen and (max-width: 580px) {
      border-right: none;
      border-bottom: 1px solid $color-gray-extra-light ;;
    }

  }

  .DryClean, .WashAndFold {
    padding: 0 50px;
    margin-bottom: 50px;

    @media only screen and (max-width: 580px) {
      padding: 20px 0;
    }

    img {
      min-height: 150px;
      margin-bottom: 5px;
    }
  }
}