@import "../../common/Common.scss";

.LandingHeader {
  display: flex;
  background-color: $color-primary;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  min-width: 100%;

  h1 {
    font-weight: 300;
    color: #ffffff;
    font-size: 1.5em;

    @media only screen and (max-width: 800px) {
      text-align: center;
    }
  }
}