@import "../Common.scss";

.not-visible {
  display: none !important;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    margin-left: 15px;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.Error {
  h1 {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 1.5em;
  }

  margin-bottom: 20px;
}