@import "../../common/Common.scss";

.ContactUs {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  min-width: 100%;

  .ContactUsContent {
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-family: $font-primary;
      color: $color-gray-darker;
      font-size: 1.2em;
    }

    @media only screen and (max-width: 800px) {
      .CardList li {
        width: 100%;
      }
    }
  }
}