@import "../../common/Common.scss";

.NavigationBar {
  z-index: 2;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-around;
  @media only screen and (max-width: 880px) {
    justify-content: space-between;
    margin-left: 3%;
  }

  .Logo {
    img {
      width: 190px;
      cursor: pointer;
    }
  }

  i {
    margin-right: 40px;
    color: $color-primary;
    font-size: 1.4em;
    @media only screen and (min-width: 880px) {
      display: none;
    }
  }

  .Links {
    flex-direction: row;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: 1em;
      color: $color-gray-dark;
      margin-right: 40px;

      &:hover {
        color: $color-primary;
      }
    }

    @media only screen and (max-width: 880px) {
      display: none;
    }
  }
}

.MobileMenu {
  .close {
    border: 2px solid white;
    padding: 3px 9px;
    border-radius: 100%;
    text-decoration: none;
    color: $color-white;
    position: fixed;
    top:20px;
    right: 20px;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.2em;
  }
  .MobileLinks {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    a {
      color: white;
      text-decoration: none;
      letter-spacing: 2px;
      font-family: $font-primary;
      text-transform: uppercase;
      font-size: 1.5em;
      margin-right: 40px;
      margin-top: 20px;
      margin-bottom: 20px;

      &:hover {
        color: $color-black;
      }
    }
  }
}