@import "../../common/Common";

.NavigationBar {
  z-index: 2;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-around;
  @media only screen and (max-width: 880px) {
    justify-content: space-between;
    margin-left: 3%;
  }

  i {
    margin-right: 40px;
    color: $color-primary;
    font-size: 1.4em;
    @media only screen and (min-width: 880px) {
      display: none;
    }
  }

  .Links {
    flex-direction: row;
    a {
      text-decoration: none;
      letter-spacing: 2px;
      font-family: $font-secondary;
      font-size: 1em;
      color: $color-gray-dark;
      margin-right: 40px;

      &:hover {
        color: $color-primary-dark;
      }
    }

    @media only screen and (max-width: 880px) {
      display: none;
    }
  }
}