.Billing .CardList li {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.Billing .Card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 370px;
  margin-left: 30px;
  margin-top: -18px;
  padding-top: 25px;
  padding-bottom: 25px; }
  .Billing .Card button {
    color: white;
    border-radius: 5px;
    outline: none;
    border-color: transparent;
    background-color: #1AB5FF;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px; }
    .Billing .Card button:hover {
      background-color: #1aa5ee;
      transition: all 0.3s ease; }
