@import "../common/Common.scss";

.Password {
  margin-left: 30px;
  .Card {
    width: 370px;
    padding-top: 35px;
    padding-bottom: 35px;
    button {
      @include rectangular-button($color-primary, $color-primary-dark)
    }
  }
}