.Password {
  margin-left: 30px; }
  .Password .Card {
    width: 370px;
    padding-top: 35px;
    padding-bottom: 35px; }
    .Password .Card button {
      color: white;
      border-radius: 5px;
      outline: none;
      border-color: transparent;
      background-color: #1AB5FF;
      font-family: Montserrat, sans-serif;
      font-size: 0.8em;
      width: 50%;
      padding-top: 15px;
      padding-bottom: 15px; }
      .Password .Card button:hover {
        background-color: #1aa5ee;
        transition: all 0.3s ease; }
