.CardWrapper h1.header {
  color: #b0b0b0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase; }

.Card {
  background-color: white;
  border-radius: 5px;
  width: 360px;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }
  .Card h1 {
    font-family: Montserrat, sans-serif;
    font-size: 0.9em;
    color: #707070;
    font-weight: 600; }
  .Card p {
    font-family: Montserrat, sans-serif;
    font-size: 0.9em;
    color: #b0b0b0;
    font-weight: 500; }
