@import "../common/Common.scss";

.OptionCard {
  background-color: $color-white;
  border-radius: 5px;
  width: 360px;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;


  h1 {
    font-family: $font-primary;
    font-size: 0.9em;
    color: $color-gray-dark;
    font-weight: 600;
  }

  p {
    font-family: $font-primary;
    font-size: 0.9em;
    color: $color-gray-light;
    font-weight: 500;
  }
}