.SideNavigation {
  width: 340px;
  height: 100vh;
  background-color: #1AB5FF;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .SideNavigation .header {
    margin-top: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif, sans-serif;
    font-size: 0.6em;
    font-weight: 300;
    color: white; }
  .SideNavigation nav {
    margin-left: 2.8em; }
    .SideNavigation nav ul {
      list-style-type: none; }
    .SideNavigation nav li {
      padding-bottom: 1.5em;
      font-family: Montserrat, sans-serif, sans-serif;
      font-weight: 500;
      font-size: 1.2em; }
      .SideNavigation nav li a {
        text-decoration: none;
        color: white;
        opacity: 0.5;
        text-transform: uppercase; }
      .SideNavigation nav li i {
        width: 30px; }
  .SideNavigation .footer {
    text-align: center; }
    .SideNavigation .footer button {
      color: white;
      background-color: #1AB5FF;
      border: 2px solid white;
      font-family: Montserrat, sans-serif, sans-serif;
      font-weight: 500;
      font-size: 1.1em;
      letter-spacing: 2px;
      padding: 20px 32px;
      border-radius: 500px;
      transition: all 0.2s ease; }
      .SideNavigation .footer button:hover {
        color: #1AB5FF;
        background-color: white;
        transition: all 0.3s ease; }
