.SideNavigation .header {
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    font-weight: 300;
    color: white;
}

.SideNavigation {
    width: 340px;
    height: 100vh;
    background-color: #1AB5FF;
}

.SideNavigation nav {
    margin-top: 40%;
    margin-left: 2.8em;
}

.SideNavigation nav ul {
    list-style-type: none;
}

.SideNavigation nav li {
    padding-bottom: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.SideNavigation  nav li a {
    text-decoration: none;
    color: white;
}

.SideNavigation  nav li a i {
    width: 30px;
}

.SideNavigation .footer {
    margin-bottom: 3em;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.SideNavigation .footer button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 5px;
    padding: 20px;
    margin-left: 2.4em;
}

