@import "../common/Common.scss";

.SideNavigation {
    min-width: $sidebar-width;
    height: 100%;
    position: fixed;
    z-index: 5;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media only screen and (max-width: 1100px) {
      display: none;
    }

    .header {
        margin-top: 0;
        text-align: center;
        font-family: $font-secondary, sans-serif;
        font-size: 0.6em;
        font-weight: 300;
        color: $color-white;
        text-transform: capitalize;

        .Loading {
          margin-top: 10px;
        }

        img {
          width: 150px;
        }
    }

    h1 {
      font-weight: normal;
      color: $color-white;
    }

    nav {
      margin-left: 2.8em;

      ul {
        list-style-type: none;
      }

      li {
        padding-bottom: 2em;
        font-family: $font-primary, sans-serif;
        font-weight: 500;
        font-size: 1em;

        a {
          text-decoration: none;
          color: $color-white;
          text-transform: uppercase;
        }

        i {
          width: 30px;
        }
      }
    }

  .footer {
    text-align: center;
    button {
      @include rounded-button(transparent, $color-white, $color-white, $color-white, $color-primary);
    }
  }
}