@import "../common/Common.scss";

.Pricing {
  max-width: 1000px;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 10% auto 0;
}

.NotAvailable {
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto;


  .Card {
    padding-left: 80px;
    padding-right: 80px;

    .LocationIcon {
      width: 50px;
    }

    h1 {
      font-size: 1.2em;
    }

    button {
      @include rectangular-button($color-primary, $color-primary-dark);
      margin-bottom: 20px;
    }
  }
}