@import "../common/Common.scss";

.UserPricing {
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media only screen and (max-width: 800px) {
    justify-content: flex-start;
    margin-top: 30px;
    .CardList li {
      width: 100%;
    }
  }
}

.NotAvailable {
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto;


  .Card {
    padding-left: 80px;
    padding-right: 80px;

    .LocationIcon {
      width: 50px;
    }

    h1 {
      font-size: 1.2em;
    }

    button {
      @include rectangular-button($color-primary, $color-primary-dark);
      margin-bottom: 20px;
    }
  }
}