@import "../common/Common.scss";

.Home {
  display: flex;
  flex-direction: column;
  background-color: $color-black;
  min-width: 100%;

  @media only screen and (min-width: 400px) {
    background: url("/background.jpg") no-repeat center center fixed;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: 200vh;
      z-index: 1;
      background-color: $color-black;
      opacity: 0.8;
    }
  }

  .NavBar {
    z-index: 2;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3%;
    align-items: center;
    justify-content: space-between;

    i {
      margin-right: 40px;
      color: $color-white;
      font-size: 1.4em;
      @media only screen and (min-width: 690px) {
        display: none;
      }
    }

    .Links {
      flex-direction: row;
      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $font-secondary;
        font-size: 1.2em;
        color: $color-white;
        margin-right: 40px;

        &:hover {
          color: $color-primary-dark;
        }
      }

      @media only screen and (max-width: 690px) {
        display: none;
      }

    }
  }

  .Hero {
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    background-color: transparent;

    @media only screen and (max-width: 1200px) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @media only screen and (max-width: 690px) {
      margin-top: 30px;
    }

    h1 {
      max-width: 1000px;
      margin: 0;
      margin-bottom: 10px;
      font-family: $font-primary;
      text-transform: uppercase;
      font-size: 3.5em;
      font-weight: 500;
      color: $color-white;
      padding: 0;

      @media only screen
      and (max-width: 1100px)
      and (min-width: 1015px) {
        font-size: 3em;
      }

      @media only screen
      and (max-width: 1015px){
        font-size: 2.5em;
      }

      @media only screen
      and (max-width: 800px){
        font-size: 2em;
      }
    }

    h2 {
      margin: 0;
      font-family: $font-primary;
      font-size: 3em;
      color: $color-white;
      font-weight: 500;

      @media only screen and (max-width: 520px) {
        font-size: 2.2em;
      }
    }

    .Order {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      padding-bottom: 50px;

      p {
        text-align: start;
        text-transform: uppercase;
        font-family: $font-primary;
        color: $color-white;
        font-size: 1.8em;

        @media only screen and (max-width: 520px) {
          margin-top: 5px;
          font-size: 1.4em;
        }
      }

      .OrderForm {
        @media only screen
        and (max-width: 1100px)
        and (min-width: 600px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        input {
          font-family: $font-primary;
          background-color: transparent;
          color: $color-white;
          font-size: 1.4em;
          font-weight: 300;
          outline: none;
          border: 2px solid $color-white;
          border-radius: 5px;
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 20px;
          padding: 15px 70px 15px 20px;

          @media only screen and (max-width: 690px) {
            margin-left: 0;
            margin-right: 0;
            padding-right: 25px;
            font-size: 1.2em;
          }
        }

        #email_input {
          text-transform: lowercase;
        }

        #postal_code_input {
          text-transform: uppercase;
        }

        button {
          @include rounded-button($color-primary, $color-white, transparent, $color-primary-dark, $color-white);
          margin-top: 22px;
          margin-left: 20px;
          font-size: 1em;

          @media only screen and (max-width: 875px) {
            margin-left: 0;
          }
        }

        ::placeholder {
          color: $color-white;
          text-transform: capitalize !important;
        }
      }
    }
  }

  .HowItWorks {
    z-index: 5;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    background-color:$color-primary-dark;
    min-height: 600px;

    h1 {
      text-align: center;
      font-size: 3em;
      color: $color-white;
      font-family: $font-primary;
      font-weight: 300;

      @media only screen and (max-width: 480px) {
        font-size: 2.5em;
      }
    }

    .HowItWorksItems {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 20px;
      justify-content: space-between;

      @media only screen and (max-width: 810px) {
        flex-direction: column;
        align-self: center;
        max-width: 470px;
      }

      .HowItWorksItem {
        flex-basis: 20%;
        text-align: center;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 30px;

        i {
          font-size: 2.2em;
          background-color: white;
          color: $color-primary-dark;
          border: 3px solid white;
          border-radius: 50%;
          padding: 30px;
        }

        h3 {
          color: white;
          font-family: $font-primary;
          font-weight: 300;
          font-size: 1.5em;
          text-transform: uppercase;
          opacity: 0.7;
          margin-top: 22px;
          margin-bottom: 12px;
        }

        p {
          margin-top: 0;
          color: white;
          font-family: $font-secondary;
          font-size: 1.2em;
        }
      }
    }
  }

  .Price {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-background;
    min-height: 600px;
    margin-top: 0;
    margin-bottom: 0;

    h1 {
      text-align: center;
      font-size: 3em;
      color: $color-black;
      font-family: $font-primary;
      font-weight: 300;

      @media only screen and (max-width: 480px) {
        font-size: 2.5em;
      }
    }

    .Pricing {
      margin: 0 auto;
      justify-content: center;
      @media only screen and (max-width: 520px) {
        li {
          width: 320px;
        }
      }
    }
  }
}