@import "../common/Common.scss";

.Contact {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;

  .Description {
    font-family: $font-primary;
    text-align: center;
    font-size: 1.2em;
    color: $color-gray-dark;

    @media only screen and (max-width: 400px) {
      font-size: 1em;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .CardList {
    li {
      width: 100%;
      @media only screen and (max-width: 400px) {
        font-size: 0.9em;
      }
    }
  }
}