$font-primary: Montserrat, sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$color-primary: #1AB5FF;
$color-primary-dark: #1aa5ee;
$color-background: #F7F7F7;
$color-white: white;
$color-black: black;
$color-gray-dark: #707070;
$color-gray-light: #b0b0b0;

$sidebar-width: 340px;

@mixin rounded-button($backgroundColor, $textColor, $borderColor, $hoverBackgroundColor, $hoverTextColor){
  color: $textColor;
  background-color: $backgroundColor;
  border: 2px solid $borderColor;

  font-family: $font-primary, sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 2px;

  padding: 20px 32px;
  border-radius: 500px;

  transition: all 0.2s ease;

  &:hover {
    color: $hoverTextColor;
    background-color: $hoverBackgroundColor;
    transition: all 0.3s ease;
  }
}

@mixin rectangular-button($backgroundColor, $hoverBackgroundColor) {
  color: $color-white;
  border-radius: 5px;
  outline: none;
  border-color: transparent;
  background-color: $backgroundColor;
  font-family: $font-primary;
  font-size: 0.8em;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover {
    background-color: $hoverBackgroundColor;
    transition: all 0.3s ease;
  }
}
