$font-primary: Montserrat, sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$color-primary: #27b7d7;
$color-primary-dark: #2999bb;
$color-red: #e74c3c;
$color-background: #F7F7F7;
$color-white: white;
$color-black: black;
$color-gray-darker: #505050;
$color-gray-dark: #707070;
$color-gray-light: #b0b0b0;
$color-gray-extra-light: #e2e2e2;
$color-white: #ffffff;

$sidebar-width: 340px;

@mixin rounded-button($backgroundColor, $textColor, $borderColor, $hoverBackgroundColor, $hoverTextColor){
  color: $textColor;
  background-color: $backgroundColor;
  border: 2px solid $borderColor;

  font-family: $font-primary, sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 2px;

  padding: 20px 32px;
  border-radius: 500px;

  transition: all 0.2s ease;

  &:hover {
    color: $hoverTextColor;
    background-color: $hoverBackgroundColor;
    transition: all 0.3s ease;
  }
}

@mixin rectangular-button($backgroundColor, $hoverBackgroundColor) {
  color: $color-white;
  border-radius: 5px;
  outline: none;
  border-color: transparent;
  background-color: $backgroundColor;
  font-family: $font-primary;
  font-size: 0.8em;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover {
    background-color: $hoverBackgroundColor;
    transition: all 0.3s ease;
  }
}

@mixin rounded-input() {
  margin: 18px 0;
  padding: 18px;
  border: 2px solid $color-gray-extra-light;
  font-size: 0.9em;
  font-family: $font-primary;
  color: $color-gray-dark;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;

  &:focus {
    border-color: $color-primary;
  }
}


h1 {
  font-size: 2em;
  font-weight: bold;
  color: $color-gray-darker;
  font-family: $font-primary;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  color: $color-gray-darker;
  font-family: $font-primary;
}