@import "../../components/common/Common.scss";

.App {
  width: 100%;
  background-color: $color-background;
  display: flex;
  color: #717171;
}

.swal2-popup {
  font-family: $font-primary;
  font-weight: 300;
}

.closeButton {
  text-decoration: none;
  color: $color-gray-dark;
  position: absolute;
  top: 20px;
  right: 40px;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 2em;

  @media only screen and (max-width: 400px) {
    font-size: 1.5em;
    top: 10px;
    right: 20px;
  }
}