@import "../common/Common.scss";

.Preferences {
  max-width: 1000px;
  justify-content: flex-start;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;

  .Preference {
    margin: 12px;
    flex-basis: 40%;
  }
}