@import "../common/Common.scss";

.Preferences {
  max-width: 865px;
  justify-content: flex-start;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;

  .Preference {
    margin: 20px;
    flex-basis: 40%;
  }
}