.Preferences {
  max-width: 1000px;
  justify-content: flex-start;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px; }
  .Preferences .Preference {
    margin: 12px;
    color: #b0b0b0;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    flex-basis: 40%; }
