@import "../common/Common.scss";

.PaymentCard {
  min-width: 400px;
  text-align: center;

  @media only screen and (max-width: 400px) {
    min-width: 100%;
  }

  .inputText {
    @include rounded-input();
  }

  .closeButton {
    text-decoration: none;
    color: $color-gray-dark;
    position: absolute;
    top:20px;
    right: 40px;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 2em;

    @media only screen and (max-width: 400px) {
      font-size: 1.5em;
      top: 10px;
      right: 20px;
    }
  }

  .saveButton {
    @include rounded-button($color-primary, $color-white, transparent, $color-primary-dark, $color-white);
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
