@import "../common/Common.scss";

.PaymentCard {
  min-width: 400px;
  text-align: center;

  @media only screen and (max-width: 400px) {
    min-width: 100%;
  }

  .inputText {
    @include rounded-input();
  }

  .saveButton {
    @include rounded-button($color-primary, $color-white, transparent, $color-primary-dark, $color-white);
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
